# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Py_project\new_multi_intent_rec\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
